#scrollTopBtn {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%; /* Makes it circular */
    font-size: 18px;
    transition: opacity 0.3s;
}

    #scrollTopBtn:hover {
        background-color: #555; /* Changes color on hover */
    }



.responsive-iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (9 / 16 = 0.5625) */
}

    .responsive-iframe-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }


/* This removes the underline from ALL links */
a {
    text-decoration: none;
}

    /* Optional: Bring the underline back when someone hovers over it 
    a:hover {
        text-decoration: underline;
    }*/